# [submodule "handouts"]
# 	path = handouts
# 	url = https://github.com/mikkelens/handouts
# 	branch = main
# [submodule "individual-handouts"]
# 	path = individual-handouts
# 	url = https://github.com/mikkelens/individual-handouts
# 	branch = main

[submodule "inprog"]
	path = inprog
	url = https://github.com/mikkelens/inprog
	branch = main
[submodule "ads"]
	path = ads
	url = https://github.com/mikkelens/ads
	branch = main
[submodule "progsprog"]
	path = progsprog
	url = https://github.com/mikkelens/progsprog
	branch = main